 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 4465px;
}

.u-section-1 .u-list-1 {
  margin-top: 100px;
  margin-bottom: 60px;
  grid-auto-rows: 100%;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  min-height: 4208px;
  grid-gap: 30px 30px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 21px;
}

.u-section-1 .u-image-1 {
  height: 306px;
  width: 306px;
  background-image: url("images/wasantha.jpg");
  background-position: 50% 50%;
  margin: 3px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 17px 6px 0 12px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 0 0 18px;
}

.u-section-1 .u-text-3 {
  font-style: normal;
  margin: 35px 9px 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 12px auto 0 144px;
  padding: 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 21px;
}

.u-section-1 .u-image-2 {
  height: 306px;
  width: 306px;
  background-image: url("images/chmmika.jpg");
  background-position: 50% 50%;
  margin: 3px auto 0;
}

.u-section-1 .u-text-4 {
  text-transform: none;
  font-size: 1.875rem;
  margin: 17px 6px 0 12px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 0 0 18px;
}

.u-section-1 .u-text-6 {
  font-style: normal;
  margin: 35px 9px 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 12px auto 0 144px;
  padding: 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 21px;
}

.u-section-1 .u-image-3 {
  height: 306px;
  width: 306px;
  background-image: url("images/aw2.jpg");
  background-position: 50% 50%;
  margin: 3px auto 0;
}

.u-section-1 .u-text-7 {
  text-transform: none;
  font-size: 1.875rem;
  margin: 17px 6px 0 12px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 0 0 18px;
}

.u-section-1 .u-text-9 {
  font-style: normal;
  margin: 35px 9px 0;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 12px auto 0 144px;
  padding: 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 21px;
}

.u-section-1 .u-image-4 {
  height: 306px;
  width: 306px;
  background-image: url("images/1f97d763-2441-b794-928b-d34569b6c87b.jpg");
  background-position: 50% 50%;
  margin: 3px auto 0;
}

.u-section-1 .u-text-10 {
  text-transform: none;
  font-size: 1.875rem;
  margin: 17px 6px 0 12px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 0 0 18px;
}

.u-section-1 .u-text-12 {
  font-style: normal;
  margin: 35px 9px 0;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 12px auto 0 144px;
  padding: 0;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 21px;
}

.u-section-1 .u-image-5 {
  height: 306px;
  width: 306px;
  background-image: url("images/suminda.jpg");
  background-position: 50% 50%;
  margin: 3px auto 0;
}

.u-section-1 .u-text-13 {
  text-transform: none;
  font-size: 1.875rem;
  margin: 17px 6px 0 12px;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 0 0 18px;
}

.u-section-1 .u-text-15 {
  font-style: normal;
  margin: 35px 9px 0;
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 12px auto 0 144px;
  padding: 0;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 21px;
}

.u-section-1 .u-image-6 {
  height: 306px;
  width: 306px;
  background-image: url("images/thushara.jpg");
  background-position: 50% 50%;
  margin: 3px auto 0;
}

.u-section-1 .u-text-16 {
  text-transform: none;
  font-size: 1.875rem;
  margin: 17px 6px 0 12px;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 0 0 18px;
}

.u-section-1 .u-text-18 {
  font-style: normal;
  margin: 35px 9px 0;
}

.u-section-1 .u-btn-6 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 12px auto 0 144px;
  padding: 0;
}

.u-section-1 .u-list-item-7 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 21px;
}

.u-section-1 .u-image-7 {
  height: 306px;
  width: 306px;
  background-image: url("images/bst.jpg");
  background-position: 50% 50%;
  margin: 3px auto 0;
}

.u-section-1 .u-text-19 {
  text-transform: none;
  font-size: 1.875rem;
  margin: 17px 6px 0 12px;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 0 0 18px;
}

.u-section-1 .u-text-21 {
  font-style: normal;
  margin: 35px 9px 0;
}

.u-section-1 .u-btn-7 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 12px auto 0 144px;
  padding: 0;
}

.u-section-1 .u-list-item-8 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 21px;
}

.u-section-1 .u-image-8 {
  height: 306px;
  width: 306px;
  background-image: url("images/ruwan.jpg");
  background-position: 50% 50%;
  margin: 3px auto 0;
}

.u-section-1 .u-text-22 {
  text-transform: none;
  font-size: 1.875rem;
  margin: 17px 6px 0 12px;
}

.u-section-1 .u-text-23 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 0 0 18px;
}

.u-section-1 .u-text-24 {
  font-style: normal;
  margin: 35px 9px 0;
}

.u-section-1 .u-btn-8 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 12px auto 0 144px;
  padding: 0;
}

.u-section-1 .u-list-item-9 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 21px;
}

.u-section-1 .u-image-9 {
  height: 306px;
  width: 306px;
  background-image: url("images/aw2.jpg");
  background-position: 50% 50%;
  margin: 3px auto 0;
}

.u-section-1 .u-text-25 {
  text-transform: none;
  font-size: 1.875rem;
  margin: 17px 6px 0 12px;
}

.u-section-1 .u-text-26 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 0 0 18px;
}

.u-section-1 .u-text-27 {
  font-style: normal;
  margin: 35px 9px 0;
}

.u-section-1 .u-btn-9 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 12px auto 0 144px;
  padding: 0;
}

.u-section-1 .u-list-item-10 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px 21px;
}

.u-section-1 .u-image-10 {
  height: 306px;
  width: 306px;
  background-image: url("images/aw2.jpg");
  background-position: 50% 50%;
  margin: 3px auto 0;
}

.u-section-1 .u-text-28 {
  text-transform: none;
  font-size: 1.875rem;
  margin: 17px 6px 0 12px;
}

.u-section-1 .u-text-29 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 0 0 18px;
}

.u-section-1 .u-text-30 {
  font-style: normal;
  margin: 35px 9px 0;
}

.u-section-1 .u-btn-10 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 12px auto 0 144px;
  padding: 0;
}

.u-section-1 .u-list-item-11 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px 21px;
}

.u-section-1 .u-image-11 {
  height: 306px;
  width: 306px;
  background-image: url("images/shelten.jpg");
  background-position: 50% 50%;
  margin: 3px auto 0;
}

.u-section-1 .u-text-31 {
  text-transform: none;
  font-size: 1.875rem;
  margin: 17px 6px 0 12px;
}

.u-section-1 .u-text-32 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 0 0 18px;
}

.u-section-1 .u-text-33 {
  font-style: normal;
  margin: 35px 9px 0;
}

.u-section-1 .u-btn-11 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 12px auto 0 144px;
  padding: 0;
}

.u-section-1 .u-list-item-12 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px 21px;
}

.u-section-1 .u-image-12 {
  height: 306px;
  width: 306px;
  background-image: url("images/naleen.jpg");
  background-position: 50% 50%;
  margin: 3px auto 0;
}

.u-section-1 .u-text-34 {
  text-transform: none;
  font-size: 1.875rem;
  margin: 17px 6px 0 12px;
}

.u-section-1 .u-text-35 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 0 0 18px;
}

.u-section-1 .u-text-36 {
  font-style: normal;
  margin: 35px 9px 0;
}

.u-section-1 .u-btn-12 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 12px auto 0 144px;
  padding: 0;
}

.u-section-1 .u-list-item-13 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-13 {
  padding: 30px 21px;
}

.u-section-1 .u-image-13 {
  height: 306px;
  width: 306px;
  background-image: url("images/aw2.jpg");
  background-position: 50% 50%;
  margin: 3px auto 0;
}

.u-section-1 .u-text-37 {
  text-transform: none;
  font-size: 1.875rem;
  margin: 17px 6px 0 12px;
}

.u-section-1 .u-text-38 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 0 0 18px;
}

.u-section-1 .u-text-39 {
  font-style: normal;
  margin: 35px 9px 0;
}

.u-section-1 .u-btn-13 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 12px auto 0 144px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    height: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 3483px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-17 {
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-20 {
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 0;
  }

  .u-section-1 .u-text-22 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-23 {
    margin-left: 0;
  }

  .u-section-1 .u-text-24 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 0;
  }

  .u-section-1 .u-text-25 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-26 {
    margin-left: 0;
  }

  .u-section-1 .u-text-27 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 0;
  }

  .u-section-1 .u-text-28 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-29 {
    margin-left: 0;
  }

  .u-section-1 .u-text-30 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 0;
  }

  .u-section-1 .u-text-31 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-32 {
    margin-left: 0;
  }

  .u-section-1 .u-text-33 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 0;
  }

  .u-section-1 .u-text-34 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-35 {
    margin-left: 0;
  }

  .u-section-1 .u-text-36 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 0;
  }

  .u-section-1 .u-text-37 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-38 {
    margin-left: 0;
  }

  .u-section-1 .u-text-39 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3075px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3044px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3214px;
  }
}