.u-section-1 .u-sheet-1 {
  min-height: 568px;
}

.u-section-1 .u-image-1 {
  height: 567px;
  width: 1240px;
  margin: 1px auto 1px -63px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 431px;
  }

  .u-section-1 .u-image-1 {
    height: 430px;
    width: 940px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-1 .u-image-1 {
    height: 329px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 248px;
  }

  .u-section-1 .u-image-1 {
    height: 247px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 157px;
  }

  .u-section-1 .u-image-1 {
    height: 156px;
    width: 340px;
  }
}