 .u-section-1 {
  background-image: url("images/mk.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 765px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1190px;
  margin: 57px auto 60px;
}

.u-section-1 .u-image-1 {
  min-height: 600px;
  background-image: url("images/1111.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 29px 97px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 600px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 11px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 118px 39px 0 19px;
}

.u-section-1 .u-btn-1 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  border-style: solid;
  margin: 30px auto 0 19px;
  padding: 17px 50px 18px;
}

.u-section-1 .u-btn-2 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 85px auto 0 13px;
  padding: 8px 36px 9px 35px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  margin: -45px auto 0 183px;
  padding: 0 8px;
}

.u-section-1 .u-icon-2 {
  font-size: 1.5em;
}

.u-section-1 .u-btn-4 {
  background-image: linear-gradient(#db545a, #a35559);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: -39px 210px 0 auto;
  padding: 6px 20px 7px;
}

.u-section-1 .u-icon-3 {
  font-size: 1.5em;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 526px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-image-1 {
    min-height: 541px;
    background-position: 76.78% 50%;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 474px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 50px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 77px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 131px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    min-height: 442px;
    background-position: 70.84% 50%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 362px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    min-height: 461px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 228px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    min-height: 313px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 0 30px 0 40px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 1267px;
}

.u-section-2 .u-list-1 {
  width: 850px;
  margin: 70px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 14px) calc(33.3333% - 14px) calc(33.3333% - 14px);
  min-height: 251px;
  grid-gap: 21px 21px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 16px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 16px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 16px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 23px auto 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 863px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 11px 27px;
}

.u-section-2 .u-btn-2 {
  font-size: 1.875rem;
  margin: 0 166px 0 auto;
  padding: 0;
}

.u-section-2 .u-icon-4 {
  font-size: 1.2em;
}

.u-section-2 .u-image-1 {
  width: 433px;
  height: 492px;
  margin: 1px 23px 0 60px;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 41px;
  min-height: 16px;
  width: 224px;
  min-width: 124px;
  margin: 60px 125px 0 auto;
}

.u-section-2 .u-icon-5 {
  height: 100%;
}

.u-section-2 .u-icon-6 {
  height: 100%;
}

.u-section-2 .u-icon-7 {
  height: 100%;
}

.u-section-2 .u-icon-8 {
  height: 100%;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 863px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-form-1 {
  margin: 0;
}

.u-section-2 .u-label-1 {
  font-weight: 700;
}

.u-section-2 .u-input-1 {
  background-image: none;
}

.u-section-2 .u-label-2 {
  font-weight: 700;
}

.u-section-2 .u-input-2 {
  background-image: none;
}

.u-section-2 .u-label-3 {
  font-weight: 700;
}

.u-section-2 .u-input-3 {
  background-image: none;
}

.u-section-2 .u-btn-3 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-2 .u-text-7 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 30px auto 0 70px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 932px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 207px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 712px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 66px;
  }

  .u-section-2 .u-image-1 {
    width: 416px;
    height: 473px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 712px;
  }

  .u-section-2 .u-btn-3 {
    width: 100%;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 564px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 10.5px) calc(50% - 10.5px);
    min-height: 494px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 502px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 306px;
    height: 348px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 664px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 753px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 474px;
  }
}